.resumes-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.add-resume {
    text-align: right;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 8px;
    font-size: large;
    color: #006400;
}

.add-resume a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #006400;
    font-weight: 700;
}

.add-resume a:hover {
    color: #0278ec;
}

.add-resume img {
    vertical-align: middle;
    margin-right: 8px;
}


.resumes-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.resumes-table th {
    background: #6985a2;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: 500;
}

.resumes-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.resumes-table tr:last-child td {
    border-bottom: none;
}

.resumes-table tr:hover {
    background: #f8f9fa;
}

.name-column {
    width: 35%;
    font-weight: 500;
    font-size: large;
}

.info-column {
    width: 45%;
    font-size: large;
}

.action-column {
    width: 10%;
    text-align: center;
    font-size: large;
}

.contact-link {
    color: #323942; /* наш темно-зеленый */
    text-decoration: none; /* убираем подчеркивание */
}

.contact-link:hover {
    color: #0153ab; /* немного светлее при наведении */
    text-decoration: underline; /* добавляем подчеркивание при наведении */
}

.action-link {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.action-link:hover {
    background: #e9ecef;
}

